* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0px;
}

.parent {
    display: grid;
    grid-template-columns: minmax(30px, 1fr) 1fr minmax(20px, 1fr);
    grid-template-rows: 30vh 1fr 5vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.header { 
    grid-area: 1 / 2 / 2 / 2; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.banner {
    grid-area: 1/2; 
}
    
.body { 
    grid-area: 2 / 2 / 3 / 3;
}
.year {
    margin-top: 50px;
}
.issue {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 30px;
    font-size: large;
}
.cover {
    max-width: 200px;
}
.desc {
    max-height: 260px;
}